.c{

    text-align: center;
}

#top{
    height:100px;
    background-color: red !important;
}

.pic{
    width:195px;
    height:116px;
    padding:10px;
}

.navImage{
    height:30px;
}

.bold{
    font-weight: bold;
}

.about{
    font-size: 2em;
    font-weight:bold;
    text-align: center;
}