<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About Flask</title>
  <style>

  </style>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h3>Two people commit the same crime. One person pays bail and gets out while the other cannot
          afford to pay and is jailed for months.<h3>
            <br>
            <h3>Donate now to help those in need.<h3>
              <form action="#" method="POST">
                <label class="bold" for="amount">Amount($):</label>
                <input type="number" id="amount" name="amount" name="amount">
                <input class="btn btn-primary" type="submit" value="Donate">


              </form>
               
                <br>
                <br>
                <h5>Previous Donations</h5>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th>Date</th>
                        <th>Amount($)</th>
                      </tr>
                    </thead>
                    <tbody id="myTable">
                      {% for item in donationDetails %}
                      <tr>
                        <td> {{item["date"]}} </td>
                        <td> {{item["Amount"]}} </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
      </div>
      <div class="col-md-2"></div>







    </div>
    <!-- 

    {% endblock %}
</body>

</html>